[submodule "microservices/post-service"]
	path = microservices/post-service
	url = https://github.com/SavioRony/ems-post-service.git
[submodule "microservices/text-processor-service"]
	path = microservices/text-processor-service
	url = https://github.com/SavioRony/ems-text-processor-service.git
